[user]
    name = Jon Schneider
[includeIf "gitdir:js/"]
    path = .gitconfig_js
[includeIf "gitdir:ms/"]
    path = .gitconfig_ms
[difftool]
    prompt = false
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = Kaleidoscope
    keepBackup = false
[mergetool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[fetch]
    prune = true
[core]
	excludesfile = ~/.gitignore
    pager = less -+X
    preloadIndex = true
    attributesfile = /Users/jsc/.gitattributes
[alias]
    ai = "!f() { git add \"$(git diff --name-only | sed -n $1p)\"; }; f"
    api = "!f() { git add --patch \"$(git diff --name-only | sed -n $1p)\"; }; f"
    aui = "!f() { git add \"$(git ls-files --other --exclude-standard  | sed -n $1p)\"; }; f"
    bda = ! git branch | egrep -v '(^\\*|dev|develop|main|master)' | xargs git branch -D # branch delete all
    bdm = ! git branch --merged | egrep -v '(^\\*|dev|develop|main|master)' | xargs git branch -d # branch delete merged
    chi  = "!f() { git checkout @ \"$(git diff --name-only | sed -n $1p)\"; }; f" # Git checkout head at index. Discards local changes to file at index
    cdi = "!f() { git checkout develop \"$(git diff --name-only | sed -n $1p)\"; }; f"
    d = diff
    di = "!f() { git diff \"$(git diff --name-only | sed -n $1p)\"; }; f"
    graph="log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autostash --autosquash $REV^' - # https://www.colinodell.com/blog/201803/four-useful-git-aliases
    lg = log --graph --pretty=format:'%Cred%h%Creset -%Cblue%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    rh = reset --hard
    s = status -s
    st = status -bs
[diff]
	tool = Kaleidoscope
[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
	binary = false
[log]
	date = local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[status]
	showUntrackedFile = all